
@media screen and(max-width:765px) {
    .about-page{
        .text-zone{
            h1{
                font-size: 30px;
                margin-top: 68px;
                margin-left: 30px;
            }
        }
    }
}