
.results-text {
    width: 53%;
    position: absolute;
    right: 0;
    top:25px;
    
    
    
}

.results-text h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 220px;
    
}
.text{
    padding: 3px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;

}
.course p{
    
    margin: 40px 0 20px 0;
    text-align: right;
}


.course{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
}
